.screen-out {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

// 가로스크롤 안보이게
.scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

// 팝업시 뒷배경 스크롤 움직이지 않도록
body.scroll-off {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none ;
}